<div class="search-container">
    <div class="flex flex-row justify-between top-searchbar">
        <h2>32 Projets</h2>
        <input
            type="text"
            placeholder="Search for a breed..."
            [(ngModel)]="searchQuery"
            class="search-input" />
    </div>
</div>

<div class="flex flex-wrap justify-start">
  <!-- <ng-content *ngFor="let card of filterCards()">
    <project-card class="m-8" title="{{card.title}}" subtitle="{{card.subtitle}}" description="{{card.content.text}}" likes="0" imageSource="{{card.image.src}}" imageAlt="{{card.image.alt}}"></project-card>
  </ng-content> -->
</div>
  
  


