.card {
  width: 325px;
  height: 325px;
  background-color: white;
  position: relative;
  transition: transform 0.3s ease;

  &:hover{
    transform: translate(3px, 3px);
  }
}

.img-dimensions {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  left: 8%;
  top: 8%;
}

.bg{
  
  &-blue {
    background-color: lightblue;
    color: blue;
  }

  &-light-blue {
    background-color: rgb(209, 231, 238);
    color: rgb(142, 142, 240);
  }

  &-green {
    background-color: rgb(188, 240, 188);
    color: green;
  }

  &-lightgreen {
    background-color: rgb(229, 245, 229);
    color: rgb(101, 156, 101);
  }
}